/*-----------------------------------*\
  #style.css
\*-----------------------------------*/

/**
 * copyright 2022 codewithsadee
 */





/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {

  /**
   * hsl(9, 100%, 62% colors
   */

  --dark-jungle-green: hsl(180, 20%, 1%);
  --prussian-blue: hsl(224, 53%, 48%);
  --raisin-black-1: hsl(224, 53%, 47%);
  --raisin-black-2: hsl(224, 53%, 48%);
  --yellow-green: hsl(89, 72%, 45%);
  --orange-soda:hsl(224, 53%, 47%) ;
  --cultured-1: hsl(0, 0%, 93%);
  --cultured-2: hsl(192, 24%, 96%);
  --misty-rose: hsl(219, 57%, 91%);
  --alice-blue: hsl(212, 81%, 80%);
  --seashell: hsl(204, 100%, 97%);
  --cadet: hsl(200, 15%, 43%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --opal: hsl(180, 20%, 62%);

  /**
   * typography
   */

  --ff-nunito-sans: "Nunito Sans", sans-serif;
  --ff-poppins: "Poppins", sans-serif;

  --fs-1: 1.875rem;
  --fs-2: 1.5rem;
  --fs-3: 1.375rem;
  --fs-4: 1.125rem;
  --fs-5: 0.875rem;
  --fs-6: 0.813rem;
  --fs-7: 0.75rem;

  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;

  /**
   * transition
   */

  --transition: 0.25s ease;

  /**
   * spacing
   */

  --section-padding: 100px;

  /**
   * shadow
   */

  --shadow-1: 0 5px 20px 0 hsla(219, 56%, 21%, 0.1);
  --shadow-2: 0 16px 32px hsla(188, 63%, 7%, 0.1);

}

/* #adv{
  text-align: center;
}
#adv  {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
border: 3px solid black;

} */


/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li { list-style: none; }

a { text-decoration: none; }

a,
img,
span,
button,
ion-icon { display: block; }

button {
  border: none;
  background: none;
  font: inherit;
  text-align: left;
  cursor: pointer;
}

address { font-style: normal; }

ion-icon { pointer-events: none; }

html {
  font-family: var(--ff-nunito-sans);
  scroll-behavior: smooth;
}

body {
  background: var(--white);
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

::-webkit-scrollbar-track { background: var(--white); }

::-webkit-scrollbar-thumb {
  background: var(--cadet);
  border-left: 2px solid var(--white);
}





/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.container { padding-inline: 15px; }

button, a { transition: var(--transition); }

.h1,
.h2,
.h3 {
  color: var(--dark-jungle-green);
  font-family: var(--ff-poppins);
  line-height: 1.3;
}

.h1 {
  font-size: var(--fs-1);
  line-height: 1;
}

.h2 { font-size: var(--fs-2); }

.h3 {
  font-size: var(--fs-4);
  font-weight: var(--font-weight, 700);
}

.h3 > a { color: inherit; }

.btn {
  position: relative;
  background: var(--orange-soda);
  color: var(--white);
  font-family: var(--ff-poppins);
  font-size: var(--fs-5);
  text-transform: var(--text-transform, capitalize);
  border: 1px solid var(--orange-soda);
  padding: 10px 20px;
  z-index: 1;
}

.btn:is(:hover, :focus) {
  background: var(--black);
  color: var(--dark-jungle-green);
  border-color: var(--black);
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--white);
  transition: var(--transition);
  z-index: -1;
}

.btn:is(:hover, :focus)::before { width: 100%; }

.w-100 { width: 100%; }

.section-subtitle {
  color: var(--orange-soda);
  font-size: var(--fs-5);
  font-weight: var(--fw-600);
  padding: 5px 20px;
  background: hsla(196, 100%, 62%, 0.1);
  width: max-content;
  border-radius: 50px;
  margin-inline: auto;
  margin-bottom: 15px;
}

.section-title {
  text-align: var(--text-align, center);
  margin-bottom: var(--margin-bottom, 50px);
}

.card-badge {
  background: var(--black);
  color: var(--white);
  font-size: var(--fs-7);
  text-transform: uppercase;
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 4px 10px;
}

.card-badge.green { background: var(--yellow-green); }

.card-badge.orange { background: var(--orange-soda); }

.has-scrollbar {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  overflow-x: auto;
  margin-inline: -15px;
  padding-inline: 15px;
  scroll-padding-left: 15px;
  padding-bottom: 60px;
  scroll-snap-type: inline mandatory;
}

.has-scrollbar > li {
  min-width: 100%;
  scroll-snap-align: start;
}

.has-scrollbar::-webkit-scrollbar-track {
  background: var(--cultured-2);
  outline: 2px solid var(--cadet);
  border-radius: 10px;
}

.has-scrollbar::-webkit-scrollbar-thumb {
  background: var(--cadet);
  border: 1px solid var(--cultured-2);
  border-radius: 10px;
}

.has-scrollbar::-webkit-scrollbar-button { width: 15%; }





/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/

.header {
  position: relative;
  z-index: 2;
}

.header-top {
  background: var(--prussian-blue);
  padding-block: 2px;
}

.header-top .container,
.header-top-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.header-top .container { gap: 8px 20px; }

.header-top-list { gap: 15px; }

.header-top-link {
  color: var(--white);
  font-size: var(--fs-6);
  font-weight: var(--fw-700);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.header-top-link:is(:hover, :focus) { color: var(--orange-soda); }

.header-top-link ion-icon {
  color: var(--orange-soda);
  font-size: 15px;
  --ionicon-stroke-width: 60px;
}

.header-top .wrapper,
.header-top-social-list {
  display: flex;
  align-items: center;
}

.header-top .wrapper { gap: 20px; }

.header-top-social-list { gap: 8px; }

.header-top-social-link {
  color: var(--white);
  font-size: 15px;
}

.header-top-btn {
  background: var(--orange-soda);
  color: var(--white);
  font-size: var(--fs-6);
  font-weight: var(--fw-700);
  padding: 4px 15px;
}

.header-top-btn:is(:hover, :focus) { --orange-soda: #716B6F; }

.header-bottom {
  background: var(--white);
  padding-block: 2px;
}

.header-bottom .logo img {
   margin-inline: auto;
   width: 90px;
  }
  

/* Navbar Styling */
/* Navbar Styling */
.navbar {
  background: var(--white);
  position: fixed;
  top: 0;
  left: -310px; /* Off-screen initially */
  max-width: 310px;
  width: 100%;
  height: 100%; /* Full screen height */
  box-shadow: 0 3px 10px hsla(0, 0%, 0%, 0.3);
  z-index: 10;
  padding: 60px 20px;
  visibility: hidden;
  transition: transform 0.25s ease-out, visibility 0s linear 0.25s;
}

.navbar.active {
  visibility: visible;
  transform: translateX(310px); /* Slide-in when active */
  transition: transform 0.25s ease-out;
}

/* Media Query for Mobile Devices */
@media (max-width: 768px) {
  .navbar {
    max-width: 240px; /* Reduce the navbar width for smaller screens */
    left: -240px; /* Adjust the hidden position to match the width */
  }

  .navbar.active {
    transform: translateX(240px); /* Slide in to the new width */
  }
}


.nav-close-btn ion-icon {
  font-size: 20px;
  font-weight: 900;
  color: #000;
  --ionicon-stroke-width: 45px;
  padding: 5px;
  position: relative;
  left: 175px;
  top: -100px;
}

/* Overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  z-index: 9; /* Ensure overlay is above other content but below navbar */
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.overlay.active {
  opacity: 1;
  pointer-events: all;
}


.header-bottom-actions {
  background: var(--white);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding-block: 15px 10px;
  box-shadow: -2px 0 30px hsla(237, 71%, 52%, 0.2);
  z-index: 3;
}

.header-bottom-actions-btn ion-icon {
  color: hsl(0, 0%, 10%);
  font-size: 20px;
  margin-inline: auto;
  margin-bottom: 5px;
  --ionicon-stroke-width: 40px;
  transition: var(--transition);
}

.header-bottom-actions-btn:is(:hover, :focus) ion-icon { color: var(--orange-soda); }

.header-bottom-actions-btn span {
  color: var(--cadet);
  font-family: var(--ff-poppins);
  font-size: var(--fs-7);
  font-weight: var(--fw-500);
}


/* Flexbox for logo and clinic name */
.logo-container {
  display: flex;
  align-items: center; /* Align logo and text vertically */
  justify-content: center;
}

.logo-container .logo img {
  width: 50px; /* Adjust size of logo image */
  margin-right: 10px; /* Add some space between logo and text */
}

.clinic-name {
  font-size: 14px; /* Adjust size of clinic name */
  font-weight: 600; /* Bold text */
  color: var(--primary-color); /* Match the color with your theme */
  
  margin-right: 1.2px;
  POSITION: RELATIVE;
  LEFT: -19PX;
}



/*-----------------------------------*\
  #HERO
\*-----------------------------------*/

.hero {
  background: var(--cultured-2);
  padding-block: var(--section-padding);
}

.hero-content { margin-bottom: 60px; }

.hero-subtitle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  margin-bottom: 20px;
}

.hero-subtitle ion-icon { color: var(--orange-soda); }

.hero-subtitle span {
  color: var(--dark-jungle-green);
  font-size: var(--fs-5);
  font-weight: var(--fw-700);
}

.hero-title { margin-bottom: 20px; }

.hero-text {
  color: var(--cadet);
  font-size: var(--fs-5);
  line-height: 1.8;
  padding-left: 15px;
  border-left: 1px solid;
  margin-bottom: 30px;
}


.hero-banner {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.carousel-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease;
}

.carousel-image.active {
  opacity: 1;
}



/*-----------------------------------*\
  #ABOUT
\*-----------------------------------*/

.about { padding-block: var(--section-padding); }

.about-banner {
  position: relative;
  margin-bottom: 40px;
}

.about-banner > img {
  max-width: max-content;
  width: 100%;
}

.about-banner .abs-img {
  position: absolute;
  bottom: 100px;
  left: 15px;
  width: 50%;
  border-radius: 4px;
}

.about .section-subtitle { margin-inline: 0; }

.about .section-title {
  --text-align: left;
  --margin-bottom: 15px;
}

.about-text {
  color: var(--cadet);
  font-size: var(--fs-5);
  line-height: 1.7;
  margin-bottom: 30px;
}

.about-list { margin-bottom: 30px; }

.about-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.about-item-icon {
  background: var(--misty-rose);
  height: 45px;
  min-width: 45px;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.about-item-icon ion-icon {
  color: var(--orange-soda);
  font-size: 18px;
}

.about-item-text {
  color: var(--cadet);
  font-size: var(--fs-5);
}

.about .callout {
  background: hsla(7, 78%, 53%, 0.05);
  color: var(--cadet);
  font-size: var(--fs-5);
  font-weight: var(--fw-500);
  line-height: 1.8;
  padding: 20px 25px;
  border-left: 4px solid var(--orange-soda);
  margin-bottom: 40px;
}

.about .btn {
  max-width: max-content;
  --text-transform: uppercase;
}





/*-----------------------------------*\
  #SERVICE
\*-----------------------------------*/

.service {
  background: var(--cultured-2);
  padding-block: var(--section-padding);
}

.service-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.service-card {
  position: relative;
  background: var(--white);
  text-align: center;
  padding: 40px 30px;
  box-shadow: var(--shadow-2);
}
.service-card .card-icon img {
  width: 200px;
  height: 100px;
}

.service-card .card-icon {
  width: max-content;
  margin-inline: auto;
  margin-bottom: 20px;
}

.service-card .card-title { margin-bottom: 15px; }

.service-card .card-title > a:is(:hover, :focus) { color: var(--orange-soda); }

.service-card .card-text {
  color: var(--cadet);
  font-size: var(--fs-5);
  line-height: 1.8;
  margin-bottom: 25px;
}

.service-card .card-link {
  color: var(--opal);
  font-size: var(--fs-5);
  font-weight: var(--fw-600);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.service-card:is(:hover, :focus) .card-link { color: var(--orange-soda); }

.service-card::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 4px;
  background: var(--orange-soda);
  transition: var(--transition);
}

.service-card:is(:hover, :focus)::after { width: 100%; }





/*-----------------------------------*\
  #PROPERTY
\*-----------------------------------*/

.property { padding-block: var(--section-padding); }

.property-card {
  border: 1px solid var(--alice-blue);
  box-shadow: var(--shadow-2);
}

.property-card .card-banner {
  position: relative;
  aspect-ratio: 2 / 1.5;
  overflow: hidden;
}

.property-card .card-banner a { height: 100%; }

.property-card .card-banner img {
  height: 100%;
  object-fit: cover;
  transition: 0.5s ease;
}

.property-card:hover .card-banner img { transform: scale(1.1); }

.property-card .card-banner::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, hsla(0, 0%, 0%, 0.95), transparent 30%);
  pointer-events: none;
  z-index: 1;
}

.property-card .banner-actions {
  position: absolute;
  bottom: 15px;
  left: 15px;
  right: 15px;
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: center;
  gap: 15px 10px;
  z-index: 1;
}

.banner-actions-btn {
  color: var(--white);
  font-size: var(--fs-6);
  line-height: 1;
  display: flex;
  align-items: flex-end;
  gap: 4px;
}

.banner-actions-btn ion-icon { font-size: 16px; }

.banner-actions-btn:first-child { margin-right: auto; }

.banner-actions-btn:is(:hover, :focus) { color: var(--orange-soda); }

.property-card .card-content {
  padding: 30px 15px 15px;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.1);
}

.card-price {
  color: var(--orange-soda);
  font-family: var(--ff-poppins);
  font-size: var(--fs-5);
  margin-bottom: 5px;
}

.card-price strong {
  font-size: var(--fs-4);
  font-weight: var(--fw-600);
}

.property-card .card-title {
  --font-weight: var(--fw-600);
  margin-bottom: 15px;
}

.property-card .card-title > a:is(:hover, :focus) { color: var(--orange-soda); }

.property-card .card-text {
  color: var(--cadet);
  font-size: var(--fs-5);
  line-height: 1.8;
  margin-bottom: 25px;
}

.property-card .card-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 15px;
}

.property-card .card-item {
  padding-block: 5px;
  color: var(--cadet);
  font-size: var(--fs-5);
}

.property-card .card-item:not(:last-child) {
  padding-right: 15px;
  border-right: 1px solid hsla(0, 0%, 0%, 0.2);
  margin-right: 20px;
}

.property-card .card-item :is(strong, ion-icon) { display: inline-block; }

.property-card .card-item ion-icon {
  margin-left: 2px;
  margin-bottom: -2px;
}

.property-card .card-item span { margin-top: 5px; }

.card-footer {
  padding: 15px;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.card-author {
  display: flex;
  align-items: center;
  gap: 10px;
}

.author-avatar {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
}

.author-name > a {
  color: var(--dark-jungle-green);
  font-family: var(--ff-poppins);
  font-size: var(--fs-5);
  font-weight: var(--fw-600);
  margin-bottom: 3px;
}

.author-name > a:is(:hover, :focus) { color: var(--orange-soda); }

.author-title {
  color: var(--cadet);
  font-size: var(--fs-7);
}

.card-footer-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.card-footer-actions-btn {
  background: var(--cultured-2);
  color: var(--cadet);
  width: 35px;
  height: 35px;
  display: grid;
  place-items: center;
  font-size: 18px;
}

.card-footer-actions-btn:is(:hover, :focus) {
  background: var(--orange-soda);
  color: var(--white);
}

/* Form Section Styles */
.appointment {
  background-color: #f4f9ff; /* Light blue background */
  padding: 50px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05); /* Subtle shadow */
  margin-top: 10px;
}

.appointment h2 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 30px;
  color: var(--primary-color); /* Primary blue color */
}

/* Update this part */
#appointment-form {
  max-width: 700px;
  margin: 0 auto;
}

#appointment-form .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

#appointment-form label {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 10px; /* Fix margin-bottom */
  color: #333;
}

#appointment-form input,
#appointment-form select {
  padding: 20px 35px;
  font-size: 16px;
  border: 1px solid #ccc; /* Light gray border */
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  transition: border-color 0.3s ease;
}

#appointment-form input:focus,
#appointment-form select:focus {
  border-color: var(--primary-color); /* Focus state: primary blue */
  outline: none;
}

#appointment-form input::placeholder {
  color: #888; /* Placeholder text color */
}

#appointment-form .btn {
  display: inline-block;
  width: 100%;
  background-color: var(--primary-color); /* Blue button */
  color: #fff;
  padding: 14px;
  font-size: 18px;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#appointment-form .btn:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

/* Responsive Styles */
@media (max-width: 768px) {
  #appointment-form {
    padding: 0 20px;
  }

  #appointment-form .btn {
    font-size: 16px;
    padding: 12px;
  }
}


/*-----------------------------------*\
  #FEATURES
\*-----------------------------------*/

.features {
  background: var(--cultured-2);
  padding-block: var(--section-padding);
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px 20px;
}

.features-list > li { width: calc(50% - 10px); }

.features-card {
  position: relative;
  background: var(--white);
  padding: 40px 15px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: 10px;
  box-shadow: var(--shadow-1);
}

.features-card:is(:hover, :focus) { background: var(--orange-soda); }

.features-card .card-icon {
  background: var(--seashell);
  color: var(--orange-soda);
  width: 60px;
  height: 60px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  font-size: 28px;
}

.features-card .card-icon ion-icon { --ionicon-stroke-width: 20px; }

.features-card .card-title {
  color: var(--dark-jungle-green);
  font-family: var(--ff-poppins);
  font-size: var(--fs-6);
  font-weight: var(--fw-600);
  text-align: center;
  transition: var(--transition);
}

.features-card:is(:hover, :focus) .card-title { color: var(--white); }

.features-card .card-btn {
  background: var(--white);
  color: var(--cadet);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  font-size: 20px;
  border-radius: 50%;
  box-shadow: 0 0 10px hsla(219, 56%, 21%, 0.1);
  transition: var(--transition);
}

.features-card:is(:hover, :focus) .card-btn { color: var(--orange-soda); }





/*-----------------------------------*\
  #BLOG
\*-----------------------------------*/

.blog { padding-block: var(--section-padding); }

.blog-card { box-shadow: var(--shadow-2); }

.blog-card .card-banner {
  overflow: hidden;
  aspect-ratio: 2 / 1.5;
}

.blog-card .card-banner img {
  height: 100%;
  object-fit: cover;
  transition: 0.5s ease;
}

.blog-card:is(:hover, :focus) .card-banner img { transform: scale(1.1); }

.blog-content { padding: 30px; }

.blog-card .card-meta-list {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.blog-card :is(.card-meta-link, .publish-date) {
  color: var(--cadet);
  font-size: var(--fs-7);
  font-weight: var(--fw-600);
  display: flex;
  align-items: center;
  gap: 5px;
  transition: var(--transition);
}

.blog-card :is(.card-meta-link, .publish-date) ion-icon { color: var(--orange-soda); }

.blog-card .card-meta-link:is(:hover, :focus) { color: var(--orange-soda); }

.blog-title {
  font-size: 1rem;
  --font-weight: var(--fw-600);
}

.blog-card .blog-title:is(:hover, :focus) { color: var(--orange-soda); }

.blog-content-bottom {
  padding-top: 20px;
  border-top: 1px solid hsla(0, 0%, 0%, 0.1);
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog-card .read-more-btn {
  color: var(--orange-soda);
  font-size: var(--fs-7);
  font-weight: var(--fw-600);
  text-transform: uppercase;
}





/*-----------------------------------*\
  #CTA
\*-----------------------------------*/

.cta {
  background: linear-gradient(to bottom, var(--white) 50%, var(--raisin-black-1) 50%);
 
}

.cta-card {
  background: var(--orange-soda);
  padding: 50px 25px;
  box-shadow: var(--shadow-2);
}

.cta-card .card-content {
  max-width: max-content;
  margin-inline: auto;
  margin-bottom: 30px;
}

.cta-card .card-title {
  color: var(--white);
  line-height: 1.3;
  margin-bottom: 15px;
}

.cta-card .card-text {
  color: var(--white);
  font-size: var(--fs-5);
  line-height: 1.8;
}

.cta-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--black);
  background: var(--white);
  box-shadow: var(--shadow-2);
  border-color: var(--white);
  margin-inline: auto;
}

.cta-btn:is(:hover, :focus) {
  background: none;
  color: var(--white);
  border-color: transparent;
}

.cta-btn::before { background: var(--black); }



 
.about-section {
  align-self: stretch;
  display: grid;
  grid-template-columns: auto;
  justify-content: space-evenly;
}

.about-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 114px 24px;
  width: 375px;
  height: 1125.15px;
}

.top-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  width: 327px;
  height: 509px;
}

.top-container h2 {
  display: flex;
  align-items: center;
  width: 100%;
  height: 101px;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.about-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #396df2;
  padding: 12px;
  width: 162px;
  height: 48px;
  margin-top: 22px;
  border: 1px solid #6070ff;
  box-sizing: border-box;
  border-radius: 8px;
}
.skill-list .list-item img {
  width: 70px;
}
.skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  width: 327px;
  height: 464.15px;
  margin: 0;
  list-style: none;
}

.skill-item {
  width: 100%;
  margin: 0;
  padding: 0;
}

.languages {
  height: 320.15px;
}

.skill-list-tab {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
  padding: 0 12px;
}

.skill-title {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  margin: 0;
  line-height: 24px;
  color: #000;
  text-align: left;
}

.skill-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border: none;
  background: none;
}

.chevron.icon {
  font-size: 20px;
  margin: 0;
  color: #7f848a;
}

.skill-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  width: 100%;
  height: 243px;
  margin: 0;
  list-style: none;
}

.list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  width: 100%;
  height: 66.72px;
  background: #f7f7f9;
  border-radius: 8px;
}
@media only screen and (min-width: 992px) {
.about-section {
  grid-template-columns: 1fr;
  /* background-image: url(./images/about-myself-background-shape-desktop.svg); */
  background-repeat: no-repeat;
  background-size: cover;
}

.about-wrapper {
  flex-direction: row;
  justify-content: space-around;
  padding: 142px 24px;
  width: 100%;
  height: 676px;
}
.top-container {
  width: 41%;
  height: 392px;
}

.skills-container {
  width: 47%;
  height: 392px;
}

.languages {
  height: 236px;
}

.skill-list {
  flex-direction: row;
  width: 414px;
  height: 154px;
}

.list-item {
  flex-direction: column;
  justify-content: space-evenly;
  width: 122px;
  height: 120px;
}
}
#experts{
  padding: 1vw 8vw 8vw 8vw;
  text-align: center;
}
.pro-links {
  margin-top: 10px;
}
.pro-links i{
  padding:10px 13px ;
  border: 1px solid var(--orange-soda);
  cursor: pointer ;
  transition: 0.3s ease;
}
.pro-links i:hover {
  background: var(--orange-soda);
  color: #fff;
  border: 1px solid rgb(21,21, 100);
  cursor: pointer ;
}
#experts .expert-box {
  display: grid;
  grid-template-columns: repeat(auto-fit , minmax(250px, 1fr));
  grid-gap: 1rem;
  margin-top: 50px;
}
#experts .expert-box .profile img {
  border-radius: 7px;
  height: 70%;
  width: 100%;

}
#experts .expert-box .profile {
  background: #fafaf1;
  padding: 30px 10px;
}


/* Our Goals Styles */

/* .ourGoals__info {
	text-align: left;
	margin-bottom: 5rem;
} */
/* .ourGoals__imgs__wrapper img {
	object-fit: cover;
}
.ourGoals__imgs__wrapper {
	max-width: 800px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-row: auto;
	gap: 1rem;
} */
/* .ourGoals__img1 {
	grid-row: 1/3;
} */
/* @media only screen and (min-width: 768px) {
	.ourGoals__info {
		text-align: center;
	}
	.ourGoals__imgs__wrapper {
		gap: 2rem;
	}
  .ourStory__img img {
    width: 60%;
    height: 60%;
    object-fit: contain;
  }
	.ourGoals__text {
		margin: 0 auto;
	}
  .ourStory__text,
	.ourGoals__text {
		font-size: 1.1rem;
		max-width: 600px;
    margin-bottom: 4vw;
    padding: 20px;
    box-shadow: 0 8px 3px 0 rgba(31, 38, 135, 0.37);
    text-align: justify;
    line-height: 1.5rem;
	}
} */


/* contact */

#contact { 
  padding: 8vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;


}
#contact .getin {
  width: 350px;
}
#contact .getin h2 {
  color: #2c234d;
  font-size: 30px;
  font-weight: 800;
  line-height: .8;
  margin-bottom: 16px;
}
#contact .getin p {
 color: #686875;
 line-height: 24px;
 margin-bottom: 33px;
 padding-bottom: 25px;
 border-bottom: 1px solid #e5e4ed;
} 
#contact .getin h3 {
  color:#2c234d;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  margin-bottom: 15px;

} 
#contact .getin .getin-details div{
  display:flex;
}
#contact .getin .getin-details div .get{
  font-size: 16px;
  line-height:22px;
  color: #5838fc;
  margin-right: 20px;
}
#contact .getin .getin-details div p{
  font-size: 14px;
  border-bottom:none ;
  line-height: 22px;
  margin-bottom: 15px;
} 
#contact .getin .getin-details .pro-links {
  margin-right: 8px;
}
#contact .form {
  width:60%;
  background:#f7f6fa ;
  padding: 40px;
  border-radius: 10px;
}
#contact .form h4{
  font-size: 24px;
  color: #2c234d;
  line-height: 30px;
  margin-bottom:8px ;
}
#contact .form p {
  color: #686875;
  line-height: 24px;
  padding-bottom: 25px;

} 
#contact .form .form-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#contact .form .form-row input {
  width: 48%;
  font-size: 14px;
  font-weight: 400;
  border-radius: 3px;
  border: none;
  background:#fff;
  color:#7e7c87;
  outline: none;
  padding: 20px 30px;
  margin-bottom: 20px;

}
#contact .form .form-col input,
#contact .form .form-col textarea {
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  border-radius: 3px;
  border: none;
  background:#fff;
  color:#7e7c87;
  outline: none;
  padding: 20px 30px;
  margin-bottom: 20px;

}
#contact .form button {
  font-size: .9rem;
  padding: 13px 25px;
  background:var(--orange-soda);
  border-radius: 5px;
  outline: none;
  border: none;
  font-weight: 600;
  cursor: pointer;
  color: #fff;

}
#map{
  width: 100%;
  height: 70vh;
  margin-bottom: 8vwS;
}
#map iframe{
  width: 100%;
  height: 100%;
}
@media (max-width:769px) {
#contact {
  padding:8vw 4vw ;
}
#contact .getin {
  width: 250px;
}
}
@media (max-width:475px) {
  #contact {
    padding: 8vw 4vw ;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
}
#contact .getin {
    width: 100% ;
    margin-bottom: 30px;
}
#contact .form {
    width: 100%;
    padding: 40px 30px;
}
#contact .form .form-row {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}
#contact .form .form-row input{
width: 100%;
}

}




/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/

.footer {
 background: var(--raisin-black-2);
  color: var(--white);
  margin-bottom: 68px;
}

.footer .container { padding-inline: 30px; }

.footer a {
  color: white;
  text-decoration: none;
}
.footer .footer-brand ul li a { color: white;
   text-decoration: none;}

.footer-top {
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer-brand { margin-bottom: 50px; }

.footer-brand .logo {
   margin-bottom: 2px;
   }
.footer-brand .logo img {
  width: 120px;

}

.section-text {
  font-size: var(--fs-5);
  line-height: 1.8;
  margin-bottom: 30px;
  max-width: 45ch;
}

.contact-list {
  display: grid;
  gap: 15px;
  margin-bottom: 30px;
}

.contact-link {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.contact-link ion-icon { font-size: 18px; }

.contact-link :is(address, span) {
  font-size: var(--fs-5);
  transition: var(--transition);
}

.contact-link:is(:hover, :focus) span { color: var(--orange-soda); }

.social-list {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer-list:not(:last-child) { margin-bottom: 50px; }

.footer-list-title {
  font-family: var(--ff-poppins);
  font-size: var(--fs-3);
  font-weight: var(--fw-700);
  margin-bottom: 15px;
}

.footer-link {
  font-size: var(--fs-5);
  padding-block: 10px;
}

.footer-link:is(:hover, :focus) { color: var(--orange-soda); }

.footer-bottom {
  background: var(--raisin-black-2);
  padding-block: 25px;
}

.copyright {
  font-size: var(--fs-5);
  text-align: center;
}

.copyright a { display: inline-block; }

.copyright a:is(:hover, :focus) { color: var(--orange-soda); }





/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for larger than 600px screen
 */

@media (min-width: 600px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-2: 1.875rem;

  }



  /**
   * REUSED STYLE
   */

  .container {
    max-width: 550px;
    margin-inline: auto;
  }

  .has-scrollbar {
    gap: 25px;
    margin-inline: -25px;
    padding-inline: 25px;
    scroll-padding-left: 25px;
  }

  .has-scrollbar > li { min-width: calc(50% - 12.5px); }



  /**
   * SERVICE
   */

  .service-list > li { width: calc(50% - 15px); }



  /**
   * PROPERTY
   */

  .property .container {
    max-width: unset;
    padding-inline: 25px;
  }



  /**
   * CTA
   */

  .cta-card { --fs-2: 1.5rem; }



  /**
   * FOOTER
   */

  .footer-link-box {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

}





/**
 * responsive for larger than 768px screen
 */

@media (min-width: 768px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-1: 2.5rem;
    --fs-5: 0.938rem;
    --fs-6: 0.875rem;

  }



  /**
   * REUSED STYLE
   */

  .container { max-width: 720px; }

  .btn {
    --fs-5: 1rem;
    padding: 12px 28px;
  }



  /**
   * HEADER
   */

  .header-top { padding-block: 5px; }

  .header-top .wrapper { margin-left: auto; }

  .header-top-social-list { gap: 12px; }

  .header-top-social-link { font-size: 1rem; }

  .header-top-btn { padding: 10px 20px; }

  .header-bottom-actions {
    all: unset;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .header-bottom .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-bottom-actions-btn ion-icon { margin-bottom: 0; }

  .header-bottom-actions-btn span { display: none; }

  .header-bottom-actions-btn {
    background: var(--white);
    width: 50px;
    height: 50px;
    box-shadow: var(--shadow-2);
  }



  /**
   * HERO
   */

  .hero-content { max-width: 400px; }



  /**
   * ABOUT
   */

  .about .section-title { max-width: 30ch; }

  .about-text { max-width: 55ch }

  .about-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }



  /**
   * FEATURES
   */

  .features-list > li { width: calc(33.33% - 13.33px); }

  .features-card { gap: 20px; }

  .features-card .card-icon {
    width: 80px;
    height: 80px;
    font-size: 32px;
  }

  .features-card .card-title { --fs-6: 1.125rem; }



  /**
   * BLOG
   */

  .blog-card { --fs-7: 0.875rem; }

  .blog-title { font-size: 1.25rem; }

  .blog .card-meta-list { gap: 30px; }



  /**
   * CTA
   */

  .cta-card { --fs-2: 1.625rem; }



  /**
   * FOOTER
   */

  .footer { margin-bottom: 0; }

}





/**
 * responsive for larger than 992px screen
 */

@media (min-width: 992px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-1: 3.125rem;
    --fs-4: 1.375rem;

  }



  /**
   * REUSED STYLE
   */

  .container { max-width: 970px; }

  .btn { padding: 15px 40px; }



  /**
   * HEADER
   */

  .header-top-list,
  .header-top .wrapper { gap: 30px; }



  /**
   * HERO
   */

  .hero-content {
    max-width: unset;
    margin-bottom: 0;
  }

  .hero .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }



  /**
   * ABOUT
   */

  .about .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 60px;
  }

  .about-banner { margin-bottom: 0; }

  .about-banner > img { width: 100%; }



  /**
   * SERVICE
   */

  .service-list > li { width: calc(33.33% - 20px); }



  /**
   * PROPERTY
   */

  .property-card .card-content { padding-inline: 30px; }

  .card-footer { padding: 20px 30px 30px; }



  /**
   * FEATURES
   */

  .features-list { column-gap: 30px; }

  .features-list > li { width: calc(25% - 30px); }



  /**
   * BLOG
   */

  .blog-title { font-size: 1.375rem; }



  /**
   * CTA
   */

  .cta-card {
    --fs-2: 1.875rem;
    --fs-5: 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
  }

  .cta-card :is(.card-content, .cta-btn) { margin: 0; }



  /**
   * FOOTER
   */

  .footer-top .container {
    display: flex;
    justify-content: space-between;
  }

  .footer-brand {
    max-width: 300px;
    margin-bottom: 0;
  }

  .footer-link-box { flex-basis: 550px; }

}





/**
 * responsive for larger than 1200px screen
 */

@media (min-width: 1200px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-2: 2.75rem;
    --fs-4: 1.5rem;

  }



  /**
   * REUSED STYLE
   */

  .container { max-width: 1200px; }

  .has-scrollbar > li { min-width: calc(33.33% - 16.66px); }



  /**
   * HEADER
   */

  .header-bottom { padding-block: 30px; }

  .header-bottom-actions-btn:last-child,
  .navbar-top,
  .overlay { display: none; }

  .navbar,
  .navbar.active { all: unset; }

  .navbar-list {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  .navbar-link {
    color: var(--dark-jungle-green);
    --fs-5: 1.125rem;
    text-transform: capitalize;
  }

  .header { padding-bottom: 114px; }

  .header-bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
  }

  .header.active .header-bottom {
    position: fixed;
    bottom: auto;
    top: -94px;
    padding-block: 20px;
    box-shadow: 0 10px 50px hsla(237, 71%, 52%, 0.2);
    animation: slideDown 0.25s ease-out forwards;
  }

  @keyframes slideDown {
    0% { transform: translateY(0); }
    100% { transform: translateY(100%); }
  }



  /**
   * HERO
   */

  .hero-text {
    padding-left: 30px;
    max-width: 450px;
    margin-bottom: 40px;
  }



  /**
   * FEATURES
   */

  .features-card .card-icon {
    width: 100px;
    height: 100px;
    font-size: 45px;
  }

  .features-card .card-title { --fs-6: 1.375rem; }



  /**
   * CTA
   */

  .cta-card {
    --fs-2: 2.25rem;
    padding-inline: 60px;
  }



  /**
   * FOOTER
   */

  .footer { --fs-5: 1rem; }

  .footer-link-box { flex-basis: 700px; }

}
